header {
  padding: 4%;
  display: flex;
  justify-content: space-between;
}

nav {
  display: none;
}

.burger-menu {
  display: inline;
}

.section1 {
  /*sutvarkyti rozini*/
  background-image: url("./img/graphic.svg");
  background-repeat: no-repeat;
  background-position: 280px;
  background-size: contain;
  padding: 5%;
}

h5 {
  color: rgb(234, 62, 116);
}

.first-h1 {
  font-weight: bold;
  font-size: 48px;
}

.first {
  width: 60%;
}

.btn {
  background-color: white;
  padding: 15px 40px;
  border-radius: 30px;
  border: 2px solid;
  border-color: orange green orange red;
  /*button border spalvos kaip background.svg failo*/
}

.second {
  padding: 40px 10px 10px 5%;
  background-image: url("./img/background.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.third {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

section div img {
  padding: 10px;
}

/*mobile versijoje nera 4-o logo*/
.none-img {
  display: none;
}

.section3 {
  padding: 10px 20px 50px 20px;
}

.underline {
  text-decoration: underline;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
  /* padding: 5%;
  width: 20%;
  background-color: grey;
  justify-content: space-around; */
}

.card1 {
  display: block;
  background-color: rgb(225, 225, 225);
  border-radius: 15px;
}

.flex-container {
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
}

.right-text {
  text-align: right;
}

.section4 {
  /*sutvarkyti zalia*/
  background-image: url("./img/upsell-footer-image.svg");
  background-repeat: no-repeat;
  background-position: 300px 100px;
  background-size: contain;
  padding: 5%;
  border-top: 2px solid rgb(224, 216, 216);
  border-bottom: 2px solid rgb(224, 216, 216);
}

.fourth {
  width: 50%;
}

.fourth-h1 {
  font-weight: bold;
  font-size: 50px;
  border-bottom: 2px solid rgb(224, 216, 216);
}

footer {
  padding: 6% 8% 6% 5%;
}

.footer-div1 {
  padding: 30px 0;
}

.footer-div1 h3,
i {
  opacity: 0.4;
  padding-right: 8px;
}

.footer-div2 {
  display: flex;
  flex-wrap: wrap;
  opacity: 0.6;
}

.footer-span {
  padding-right: 80px;
}

.footer-p {
  opacity: 0.6;
  padding: 20px 0;
}

.footer-p2 {
  opacity: 0.6;
  padding: 20px 0;
  display: none;
}

@media only screen and (min-width: 768px) {
  .burger-menu {
    display: none;
  }

  header {
    display: flex;
    justify-content: space-between;
  }

  nav {
    display: flex;
  }

  nav a {
    color: black;
    text-decoration: none;
    padding-right: 10px;
  }

  nav a:nth-child(4) {
    color: rgb(234, 62, 116);
  }

  .section1 {
    background-position: right;
  }

  .none-img {
    display: inline;
  }

  .section4 {
    background-position: 75% 30px;
    /* padding: 50px; */
  }

  .fourth-h1 {
    border-bottom: none;
  }

  footer {
    padding: 6% 1% 6% 5%;
  }

  .footer-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-p2 {
    display: inline;
    padding-right: 50px;
  }
}
